<a href="https://colab.research.google.com/github/ShivaniSinghRajawat/Linkedin-Job-Posting-Analysis/blob/main/Linkedin_Job_Posting_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>INSTALLING KAGGLE AND DOWNLOADING KAGGLE DATASET

In [3]:
#install kaggle and initialize its API
!pip install kaggle --quiet

In [2]:
#upload kaggle.json file
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"shivanisinghrajawat","key":"*************************"}'}

In [4]:
#create a kaggle directory if it doesn't exist
!mkdir -p ~/.kaggle

In [5]:
#copy kaggle.json file
!cp kaggle.json ~/.kaggle

In [6]:
#set permissions for the kaggle.json file
!chmod 600 ~/.kaggle/kaggle.json

In [7]:
!kaggle datasets list -s 'Linkedin-Job-Posting'

ref                                                        title                                                    size  lastUpdated                 downloadCount  voteCount  usabilityRating
---------------------------------------------------------  -------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
arshkon/linkedin-job-postings                              LinkedIn Job Postings (2023 - 2024)                 166472808  2024-08-19 05:49:43.010000          58313        419  1.0
asaniczka/linkedin-data-engineer-job-postings              Linkedin Data Engineer Job Postings                   6795661  2023-12-27 20:42:18.727000           1087         61  1.0
asaniczka/data-scientist-linkedin-job-postings             Data Scientist - Linkedin Job Postings                5855366  2024-06-20 08:14:46.373000            495         28  1.0
adampq/linkedin-jobs-machine-learning-data-set             LinkedIn Job Postings - Machine Learning Data Set    40278565  2023-11-28 17:18:04.220000           1675         38  1.0
rajatraj0502/linkedin-job-2023                             LinkedIn Job Postings Dataset                        22419412  2023-09-03 18:34:41.657000           3318         42  0.9411765
shashankshukla123123/linkedin-job-data                     LinkedIn_job_data                                     8954661  2023-07-07 10:40:17.803000           3576         51  1.0
kanchana1990/linkedin-canada-data-science-jobs-2024        Linkedin Canada: Data Science Jobs 2024 (Updated)      845195  2024-03-22 07:16:18.470000           1242        102  1.0
tianyimasf/linkedin-data-job-titles-and-postings           LinkedIn Data Job Titles and Postings 2023           18221815  2024-03-12 01:09:38.373000            354          9  1.0
sindhumadhurii/linkedin-job-posts-insights-dataset         LinkedIn - Job Posts Insights Dataset                 2009405  2024-02-27 05:38:56.350000           1460         45  0.8235294
kanchana1990/linkedins-2023-24-us-math-teacher-jobs        LinkedIn's 2023-24 US Math Teacher Jobs üìêüöÄ             946387  2024-02-09 07:21:35.623000            125         49  0.9411765
techmap/us-job-postings-from-2023-05-05                    US Job Postings from 2023-05-05                     805159819  2023-05-10 18:05:27.720000           1001          9  0.9375
samreentajs/linkedin-job-market-analysis                   LinkedIn Job Market Analysis                            35152  2025-08-20 11:58:33.013000             33          5  0.5882353
ankit0017/ai-and-ml-job-postings-linkedin-and-indeed-2025  AI & ML Job_Postings LinkedIn & Indeed (2025)          162003  2025-10-06 12:09:52.580000             53          1  0.9411765
ratneshsatyarthi/linkedin-job-posting-dataset              LinkedIn Job Posting dataset                        191033094  2025-08-31 03:57:05.643000             18          0  0.29411766
tianyimasf/linkedin-job-postings-8-sources                 LinkedIn Job Postings (8 Sources)                   935739364  2024-03-03 05:02:26.767000             74          1  0.23529412
ghostjobs/2024-linkedin-company-jobs-postings-count        2024-Linkedin company jobs postings count             4089167  2025-01-05 21:08:54.597000             26          2  0.125
batuhanmutlu/job-skill-set                                 job-skill-set                                         1568866  2024-12-14 18:41:09.443000           1184          4  0.9411765
michellemiranda/linkedin-jobs-dataset-for-india            LinkedIn Jobs Dataset for India                        767645  2024-02-03 07:21:08.123000            182          4  0.5294118
czobii/linkedin-dataset                                    LinkedIn dataset                                      2835161  2023-11-24 20:10:59.750000             79          2  0.7647059
agusav/100-job-offers-for-data-analyst                     LinkedIn Data Analyst Job Postings Dataset              15253  2023-10-03 20:36:36.313000             54          0  0.3529412

In [20]:
!kaggle datasets download -d 'arshkon/linkedin-job-postings'\
-p ../Data/KaggleLinkedinJobPostingData

Dataset URL: https://www.kaggle.com/datasets/arshkon/linkedin-job-postings
License(s): CC-BY-SA-4.0
Downloading linkedin-job-postings.zip to ../Data/KaggleLinkedinJobPostingData
 69% 109M/159M [00:00<00:00, 1.14GB/s]
100% 159M/159M [00:00<00:00, 1.04GB/s]

In [21]:
ls -ltr ../Data/KaggleLinkedinJobPostingData

total 325144
-rw-r--r-- 1 root root 166472808 Aug 19  2024  linkedin-job-postings.zip
-rw-r--r-- 1 root root 166472808 Aug 19  2024 'linkedin-job-postings .zip'

In [25]:
#unzip csv
!unzip ../Data/KaggleLinkedinJobPostingData/linkedin-job-postings.zip \
-d ../Data/KaggleLinkedinJobPostingData.csv

Archive:  ../Data/KaggleLinkedinJobPostingData/linkedin-job-postings.zip
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/companies/companies.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/companies/company_industries.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/companies/company_specialities.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/companies/employee_counts.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/jobs/benefits.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/jobs/job_industries.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/jobs/job_skills.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/jobs/salaries.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/mappings/industries.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/mappings/skills.csv
  inflating: ../Data/KaggleLinkedinJobPostingData.csv/postings.csv

In [28]:
#grant permissions
!chmod 777 -R ../Data/KaggleLinkedinJobPostingData.csv

In [27]:
ls -ltr ../Data/KaggleLinkedinJobPostingData

total 829892
-rwxrwxrwx 1 root root 516843769 Aug 19  2024  postings.csv*
-rwxrwxrwx 1 root root 166472808 Aug 19  2024  linkedin-job-postings.zip*
-rwxrwxrwx 1 root root 166472808 Aug 19  2024 'linkedin-job-postings .zip'*
drwxrwxrwx 2 root root      4096 Dec  1 18:46  companies/
drwxrwxrwx 2 root root      4096 Dec  1 18:46  jobs/
drwxrwxrwx 2 root root      4096 Dec  1 18:46  mappings/

In [29]:
ls -ltr ../Data/KaggleLinkedinJobPostingData.csv

total 504748
-rwxrwxrwx 1 root root 516843769 Aug 19  2024 postings.csv*
drwxrwxrwx 2 root root      4096 Dec  1 18:50 companies/
drwxrwxrwx 2 root root      4096 Dec  1 18:50 jobs/
drwxrwxrwx 2 root root      4096 Dec  1 18:50 mappings/

<H1>EXPLORATORY DATA ANALYSIS

In [30]:
import pandas as pd
df = pd.read_csv('/Data/KaggleLinkedinJobPostingData.csv/postings.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [32]:
df.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [33]:
df.tail(5)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,NaN,...,NaN,1.713571e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,94595.0,6013.0
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,NaN,1.713572e+12,www.pinterestcareers.com,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,NaN,1.713572e+12,epsoperations.bamboohr.com,0,FULL_TIME,NaN,NaN,NaN,99201.0,53063.0
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k ‚Äì $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,72500.0,92675.0,6059.0

In [34]:
df.isnull()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,True,False,True,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,True,False,True,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,False,False,False,False,False,False,False,False,False,True,...,True,False,True,False,False,False,False,False,False,False
123845,False,False,False,False,True,True,False,False,False,True,...,True,False,False,False,False,True,True,True,True,True
123846,False,False,False,False,True,True,False,False,False,True,...,True,False,False,False,False,True,True,True,False,False
123847,False,False,False,False,True,True,False,False,False,True,...,True,False,True,False,False,True,True,True,True,True
123848,False,False,False,False,False,False,False,False,False,True,...,True,False,True,False,False,False,False,False,False,False

In [35]:
df.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64